.task {
    width: 50%;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin: 30px;
  }

  input {
    padding: 5px;
    background-color: white;
    border-radius: 2px;
    border: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    text-align: center;

  }

  .boldText {
      font-weight: bold;
      color: red;
      background-color: red;
  }

  #colorText {
    display: flex;
    white-space: nowrap;
    overflow-x: scroll;
  }

  :host ::ng-deep strong{
      margin-left: 6px;
      margin-right: 6px;
  }
